#cabeceraClasica {
    width: 100%;
    height: 220px;
    margin: auto;
    width: 100%;
    background: rgb(106, 192, 170);
    display: block;
    text-align: center;

}
.imagenSRC{
    height: 220px;
    width: 270px;
    text-align: center;
}

.tituloMant{
    text-align: center;
}
.contenido{
    height: 600px;

}

.clear{
    clear: both;
}
